<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Footer Page</title>
</head>
<body>
<footer th:fragment="footer" class="footer bg-transparent py-2">
    <div class="container-fluid text-center">
        <div class="footer-background footer-text fixed-bottom"><p>
            © <span th:text="${#temporals.format(#temporals.createNow(),'yyyy')}"></span> Hotel Ruby Red Rose. All rights reserved.Today
            is: <span th:text="${#temporals.format(#temporals.createNow(), 'dd-MM-yyyy HH:mm')}"></span></p></div>
    </div>
</footer>
</body>
</html>
